@import "variables";

.appLink {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 3rem;
  background-color: $primary-color;
  color: $slate-900;
  font-weight: 800;
  transition: background-color 0.2s;

  &:hover {
    background-color: lighten($primary-color, 10);
  }
}
