.banner {
  padding: 4rem 0;
  text-align: center;

  & h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 4rem;
    max-width: 1000px;
    margin: 0 auto;
  }

  & p {
    margin: 2rem 0;
  }

  & .link {
    display: inline-block;
    color: var(--bg-color);
    font-weight: 800;
    padding: 0.8rem 2rem;
    border-radius: 3rem;
    background-color: var(--fg-color);
  }

  & .badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }
}
