.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 3rem;
  background-color: var(--bg-color-chip);

  & small {
    margin: 0 0.5rem;
    letter-spacing: 1px;
    white-space: nowrap;
  }
}
