.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem 0;
  padding: 2rem;
  background-color: var(--color-background-muted);
  border-radius: 1rem;
  margin-bottom: 3rem;

  & h3 {
    padding: 0 2rem;
    font-size: 1.25rem;
    text-align: center;
  }

  & strong {
    line-height: 1.75rem;
  }

  & .developer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .avatar {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    overflow: hidden;
  }

  & .badge {
    display: inline-block;
    padding: 0.125rem 0.5rem;
    background-color: rgba(22, 199, 154, 0.25);
    border-radius: 2rem;
    color: var(--color-text-primary);
    font-size: 0.75rem;
  }

  & .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & .email {
    color: var(--color-text-grey);
  }
}
