@import "variables";

.section {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  margin: 0 -1rem;

  &.reverse {
    flex-direction: row-reverse;
  }

  & img {
    border-radius: 1.5rem;
    overflow: hidden;
  }

  & .row {
    width: 50%;
    margin: 0 1rem;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  & p {
    padding-bottom: 1.5rem;
  }
}

@media (max-width: $screen-desktop) {
  .section {
    display: block;
    padding: 0;
    margin: 3rem 0;
  }

  .section .row {
    width: 100%;
    margin: 1.5rem 0;
  }
}

@media (max-width: $screen-mobile) {
  .section img {
    border-radius: 0.75rem;
  }
}
