@import "variables";

.section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 6rem 0;

  & > * {
    width: 50%;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  & img {
    border-radius: 1.5rem;
    overflow: hidden;
  }

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
  }

  & p {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: $screen-desktop) {
  .section,
  .section.reverse {
    flex-direction: column;
    margin: 4rem 0;
  }

  .section > * {
    width: 100%;
  }
}

@media (max-width: $screen-mobile) {
  .section {
    margin: 3rem 0;
  }

  .section img {
    border-radius: 0.75rem;
  }
}
