@import "variables";

.getStarted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
  margin-bottom: 6rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-chip);

  & h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  & img {
    width: 50%;
  }

  & .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 1.5rem;
  }

  & a {
    margin-top: 0.5rem;
  }
}

@media (max-width: $screen-desktop) {
  .getStarted {
    flex-direction: column;
    align-items: center;

    & h2 {
      text-align: center;
    }

    & img {
      width: 100%;
    }

    & .header {
      align-items: center;
      padding: 0.75rem;
    }
  }
}
