@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;700&display=swap");

$fallback-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", sans-serif;

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: "Lexend", $fallback-font-family;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500 !important;
}

p {
  margin: 0;
}

button,
strong {
  font-family: "Lexend", $fallback-font-family;
  font-weight: 400;
}

small {
  font-size: 0.875rem;
}

$slate-50: #f8fafc;
$slate-300: #cbd5e1;
$slate-600: #475569;
$slate-800: #1e293b;
$gray-700: #222325;
$gray-800: #151616;

:root {
  --color-text: #{$slate-800};
  --color-text-muted: #{$slate-600};
  --color-border: rgba(220, 223, 229, 0.4);
  --color-background: #ffffff;
  --color-background-muted: #{$slate-50};
  --color-background-translucent: rgba(255, 255, 255, 0.8);
  --gap: 6rem;
  --h1-font-size: 4rem;
  --h2-font-size: 2.5rem;
  --section-margin: 6rem;
  --tools-per-columns: 6;
  --doodle-underline-size: 30rem;
  --feature-padding: 2rem;
}

.dark {
  --color-text: #{$slate-50};
  --color-text-muted: #{$slate-300};
  --color-background: #{$gray-800};
  --color-background-muted: #{$gray-700};
  --color-background-translucent: #{rgba($gray-800, 0.8)};
}

@media (max-width: 1280px) {
  :root {
    --tools-per-columns: 4;
  }
}

@media (max-width: 1024px) {
  :root {
    --gap: 2rem;
    --tools-per-columns: 3;
    --section-margin: 5rem;
  }
}

@media (max-width: 768px) {
  :root {
    --section-margin: 4rem;
    --doodle-underline-size: 0;
  }
}

@media (max-width: 640px) {
  :root {
    --gap: 1.5rem;
    --tools-per-columns: 2;
    --h1-font-size: 2.75rem;
    --h2-font-size: 1.5rem;
    --feature-padding: 1rem;
  }
}

a {
  color: var(--color-text);
  text-decoration: none;
}

kbd {
  padding: 0 0.25rem;
  font-weight: 700;
  text-transform: capitalize;
}
