@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

html {
  font-family: "Manrope", sans-serif !important;
}

// https://tailwindcss.com/docs/customizing-colors
$white: #ffffff;
$gray-200: #e5e7eb;
$slate-100: #f1f5f9;
$slate-900: #0f172a;
$neutral-100: #f5f5f5;
$neutral-800: #262626;
$neutral-900: #171717;

:root {
  --fg-color: #{$slate-900};
  --bg-color: #{$slate-100};
  --bg-color-chip: #{$neutral-100};
  --bg-color-kbd: #{$white};
  --border-color-kbd: #{$gray-200};
}

.dark {
  --fg-color: #{$slate-100};
  --bg-color: #{$slate-900};
  --bg-color-chip: #{$neutral-800};
  --bg-color-kbd: #{$neutral-900};
  --border-color-kbd: #{rgba($gray-200, 0.2)};
}

kbd {
  padding: 0.25rem 0.375rem;
  background-color: var(--bg-color-kbd);
  border-color: var(--border-color-kbd);
  border-width: 1px;
  border-radius: 0.25rem;
  font-size: 0.875rem !important;
  font-weight: 500;
  text-transform: capitalize;
}

.logo {
  margin-left: 0.25rem;
  font-size: 1.5rem;
  font-weight: 800;
}
