.inlineIcon {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: var(--border-color-kbd);
}
