.logo {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  & .row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & .text {
    display: flex;
    align-items: baseline;
    gap: 1rem;
  }

  & strong {
    font-size: 1.5rem;
    font-weight: 800;
  }
}
