@import "variables";

.sprintBoard {
  margin: 6rem 0;

  & h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  & a {
    padding: 0.8rem 2rem;
    border-radius: 3rem;
    box-sizing: border-box;
    border: 3px solid var(--fg-color);
    font-weight: 800;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--bg-color-chip);
    }
  }

  & .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  & .columns {
    display: flex;
    gap: 1rem;
  }

  & .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & > strong {
      display: inline-block;
      padding: 1rem 1.5rem;
    }
  }

  & .task {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    background-color: var(--bg-color-chip);
  }
}

@media (max-width: $screen-mobile) {
  .sprintBoard {
    margin: 3rem 0;
  }

  .sprintBoard .columns {
    flex-direction: column-reverse;
  }
}
