$white: #ffffff;
$gray-200: #e5e7eb;
$slate-100: #f1f5f9;
$slate-900: #0f172a;
$neutral-100: #f5f5f5;
$neutral-800: #262626;
$neutral-900: #171717;
$primary-color: #def601;

$screen-mobile: 640px;
$screen-desktop: 1024px;
